asgiref==3.8.1
click==8.1.7
colorama==0.4.6
crispy-bootstrap5==2024.2
dj-database-url==2.3.0
Django==5.1.2
django-crispy-forms==2.3
django-environ==0.11.2
gunicorn==23.0.0
h11==0.14.0
numpy==2.1.0
opencv-python==4.10.0.84
packaging==24.1
psycopg2==2.9.9
psycopg2-binary==2.9.10
sqlparse==0.4.4
typing_extensions==4.12.2
tzdata==2023.3
uvicorn==0.32.0
whitenoise==6.8.1
